@font-face {
    font-family: 'Karatone';
    src: url('Karatone.otf');
}
body {
  background-image: url(slime-world.jpg);
  background-size: cover;
    font-family: 'Karatone';
    padding: 20px;
    background-color: #f7919d;
    display: grid;
    justify-items: center;
  }


/*Scrollbar*/
body::-webkit-scrollbar {
  width: 0px;
}
  
.about-us {
  font-size: 1rem;
}

  h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  .established {
    font-style: italic;
  }
  
  h1, h2, p, a {
    text-align: center;
  }
  .links {
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 3rem;
    align-items: center;
  }
  .option {
    font-size: 1.2rem;
    text-decoration: none;
  }
  .tooltips {
    position: absolute;
    visibility: hidden;
    background-color: #f7919d;
    border-radius: 7px;
    list-style: none;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    transform: translateY(-2rem);
    border-color: #9a6067c4;
    border-width: 2px;
    border-style: solid;
  }
  li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .buy-tooltips:hover .tooltips {
    visibility: visible;
  }
  @keyframes slideUp {
    from {
      transform: translateY(100px);
    }
    to {
      transform: translateY(0%)
    }
  }
  .menu {
    width: 80%;
    height: 820px;
    background-color:  #f7919dec;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
    border-radius: 1rem;

    animation: slideUp 1s;
    animation-delay: 0s;
    position: absolute;
    top: 30px;
  }
  .home {
    text-decoration: none;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  hr {
    height: 2px;
    background-color:  #9a6067c4;
    border-style: none;
  }
  
  .bottom-line {
    margin-top: 25px;
  }
  
  h1, h2 {
    font-family: 'Karatone';
  }
  
  .item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .desc {
    opacity: 0.7;
    font-size: 15px;
  }
  
  .flavor, .dessert {
    text-align: left;
    width: 75%;
    font-size: 18px;
  }
  
  .price {
    text-align: right;
    width: 25%;
  }
  
  /* FOOTER */
  
  footer {
    font-size: 14px;
  }
  
  .address {
    margin-bottom: 5px;
  }
  
  a {
    color: black;
    text-decoration: solid;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: pink;
  }
  
  a:active {
    color:  pink;
  }